services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - ./backend/database.db:/app/database.db
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
